# Created by .ignore support plugin (hsz.mobi)
*.class
*.log
*.ctxt
.mtj.tmp/
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
target/SpringMVCDemo/META-INF/
target/SpringMVCDemo/WEB-INF/applicationContext.xml
target/SpringMVCDemo/WEB-INF/classes/META-INF/
target/SpringMVCDemo/WEB-INF/classes/message_en_CN.properties
target/SpringMVCDemo/WEB-INF/classes/message_en_US.properties
target/SpringMVCDemo/WEB-INF/dispatcher-servlet.xml
target/SpringMVCDemo/WEB-INF/views/
target/SpringMVCDemo/WEB-INF/web.xml
target/SpringMVCDemo/index.jsp
target/classes/META-INF/
target/classes/message_en_CN.properties
target/classes/message_en_US.properties
target/generated-sources/
target/generated-test-sources/
!/SpringMVCDemo.iml
!/.gitignore
!/pom.xml
